
@import "reset.css";
@import "header.css";

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: monospace;
}

#canvas {
    display: block;
    margin: 10px auto;
    outline: 1px solid #000;
}